* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Arial", "Helvetica", sans-serif;
    background: rgb(230,255,255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

article {
    min-width: 600px;
    width: 50%;
    margin-bottom: 60px
}

article p {
    text-indent: 10%;
    text-align: justify;
}

h1 {
    line-height: 11.5;
    display: inline-block;
    letter-spacing: 20px;
    font-size: 60px;
    margin-left: 20px;
}

h2 {
    font-size: 40px;
    margin: 0;
}

aside {
    font-style: italic;
    color: gray;
}
aside p {
    text-align: center;
}


/* Header section */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

.header > * {
    vertical-align: middle;
}

.header h1 {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#header-cat {
    animation: rotation 2s infinite linear;
}

/* What are cats? Section */

#what-cats {
    letter-spacing: .15em;
    color: black;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #000000
}

/* Why you should get a cat Section */

#why-cats {
    color: rgb(255, 239, 205);
    font-weight: 900;
    text-shadow: 0px 0px 10px #000000;
}

/* What are cats? Section */

#cat-banner {
    width: 100%;
}

/* Top 3 cats section */

.column {
    float: left;
    width: 33%;
    padding: 5px;
}

#top-cats {
    font-size: 40px;
    font-weight: bolder;
    color: orange;
    text-shadow: 1px 0px orangered,2px 0px orangered, 3px 0px orangered,4px 0px orangered;
}

#cute-cat-button {
    
}

.button {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.button:active {
	position:relative;
	top:1px;
}

/* Panglahatan */

#transparent {
    opacity: 0.3;
}

#bold {
    font-weight: 800;
}

#underline {
    text-decoration: underline;
}

#italic {
    font-style: italic;
}

#line-through{
    font-size: 150%;
    background: transparent;
    text-decoration: line-through;
}